@import "../../sass/variable.scss";

.Footer {
  background-color: $color-2;
  color: $color-1;

  a {
    color: $color-1;
  }

  .container {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }

  .logo-wrapper {
    max-width: 400px;

    .icon-logo {
      color: $color-3;
      font-size: 3rem;
    }
    .text-logo {
      display: inline;
    }
    .description {
      text-align: justify;
    }
  }

  .link-wrapper {
    & > a {
      margin-bottom: 1rem;
    }
  }

  .social-wrapper {
    a {
      margin-right: 1rem;
    }
  }

  .icon-logo {
    color: $color-3;
    font-size: 2rem;
  }
}
