@import "../../sass/variable.scss";

.Home {
  h2 {
    padding: 0.5rem 1.5rem;
  }
  .link-wrapper {
    margin: 2rem 0;
    h3 {
      margin: 0 0.5rem;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      transition: all 0.5s ease;
    }
    .current {
      background-color: $color-3;
      color: $color-1;
    }
    .hover {
      &:hover {
        background-color: $color-3;
        color: $color-1;
      }
    }
    & > a {
      padding: 0.5rem 1.5rem;
      font-weight: bold;
      &:hover {
        background-color: $color-3;
        color: $color-1;
        border-radius: 2rem;
      }
    }
    .active {
      background-color: $color-3;
      color: $color-1;
      border-radius: 4rem;
      min-width: 5rem;
      text-align: center;
    }
  }

  .movie-group {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    .ellipsis {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
    }
    .movie-wrapper {
      img {
        width: 100%;
        border-radius: 1rem;
      }
      strong {
        display: block;
        margin: 0.4rem;
      }
      span {
        margin: 0.4rem;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .Home {
    .movie-group {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-gap: 2rem;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .Home {
    .movie-group {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
