@import "./sass/variable.scss";

* {
  box-sizing: border-box;
}

body,
input {
  font-size: 1rem;
}

a {
  color: $color-2;
  text-decoration: none;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.container {
  max-width: $max-width-container;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.between {
    justify-content: space-between;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.y-center {
    align-items: center;
  }
  &.x-center {
    justify-content: center;
  }
}

.inline {
  display: inline;
}

.m-half {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-0 {
  margin-left: 0;
}
